html, body
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 0px;
    background-color:greenyellow;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #000000;
}

h1, h2, ul
{
    display: block; 
    margin: 100px 400px; 
    padding: 20px 60px; 
      background-color: #e44b9b; 
    box-shadow: 0px 6px #f7f8e8; 
    border-radius: 5px; 
    font-size: 27px; 
    text-transform: uppercase; 
    text-decoration: none; 
    transition: 0.2s; 
    color: #f7f8e8; 
    text-align: center;
}

.container
{
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
}

.boxA,
.boxB
{
    width: 384px;
    text-align: center;
}

.boxA h2,
.boxB h2
{
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 1.6em;
}

.boxA p,
.boxB p
{
    padding: 0em 1.5em;
}

.boxA,
.boxB
{
    float: left;
    margin-right: 20px;
}



